<section class="property-binding">

    <article>
        <h3>Interpolation / Interpolação [ #09 ]</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: 
            {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Binding [ #09 ]</h3>
        
        <p>Usando interpolação: <b> {{ interpolation }} </b></p>        
        <img src="{{ urlImagem }}">
        
        <br><br>

        <p>Usando Property Binding: <b> {{ propertyBinding }} </b> </p>
        <img [src] = "urlImagem">

    </article>

    <article>
        <br>

        <h3>Class e Style Binding</h3>

        Selecione uma classe:
        <select #classe (change)="0">
            <option value="alert-primary">primary</option>
            <option value="alert-secondary">secondary</option>
            <option value="alert-success">success</option>
            <option value="alert-danger">danger</option>
            <option value="alert-warning">warning</option>
            <option value="alert-info">info</option>
            <option value="alert-light">light</option>
            <option value="alert-dark">dark</option>
        </select>

        <br><br>

        <div class="alert {{ classe.value }}">
            Texto colorido conforme valor do combobox
        </div>

        <div class="alert" role="alert"
        [class.alert-primary]="classe.value == 'alert-primary'">
        primary</div>
        <div class="alert" role="alert"
        [class.alert-secondary]="classe.value == 'alert-secondary'">
        secondary</div>
        <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">
        success</div>
        <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">
        danger</div>
        <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">
        warning</div>
        <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">
        info</div>
        <div class="alert" role="alert"
        [class.alert-light]="classe.value == 'alert-light'">
        light</div>
        <div class="alert" role="alert"
        [class.alert-dark]="classe.value == 'alert-dark'">
        dark</div>

        <br>

        <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro.</div>
    </article>

    <section class="event-binding">
        <article>
            <h3>Event binding</h3>
            <div>
                <button (click)="botaoClicado()" 
                class="btn btn-primary">clique-me</button>

                <br><br>
                <p>
                    <label for="event.target.value">event.target.value: </label>
                    <input type="text" name="event.target.value"
                    id="event.target.value"
                    (keyup)="onKeyUp($event)"
                    (keyup.enter)="salvarValor($event.target.value)" 
                    (blur)="salvarValor($event.target.value)"/>
                </p>

                <p>
                    <!-- outra forma: usa variavel local #campoInput -->
                    <label for="campoInput.value">campoInput.value: </label>
                    <input type="text" name="campoInput.value"
                    id="campoInput.value"
                    (keyup)="onKeyUp($event)"
                    (keyup.enter)="salvarValor(campoInput.value)" 
                    (blur)="salvarValor(campoInput.value)"
                    #campoInput/>
                </p>

                <p>O valor atual é {{ valorAtual }}</p>
                <p>O valor salvo é {{ valorSalvo }}</p>

                <br><br>

                <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver"
                >
                    Passe o mouse sobre mim
                </span>


                <br><br>
            </div>
        </article>
    </section>

</section>
