<section>
    <article>
        <h3>Two-way data binding</h3>
            
        <div class="container">
            <!-- class="form-control" estilo do bootstrap (desnecessario para o binding) -->
            <input type="text" class="form-control"
                [value]="nome"
                (input)="nome = $event.target.value"
            />
            <br>

            <input type="text" class="form-control"
                [ngModel]="nome"  
                (ngModelChange)="nome = $event"              
            />
            <br>

            <input type="text" [(ngModel)]="nome" class="form-control"/>
            <br>

            <input type="text" bindon-ngModel="nome" class="form-control"/>

            <p>Você digitou: {{ nome }}</p>

        </div>

    </article>
    
    <article>
        <h3>Two-way data binding - Com objeto e bootstrap</h3>
        <div class="container">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome"
                    [(ngModel)]="pessoa.nome"
                />
            </div>

            <div class="form-group">
                <label for="idade">Idade:</label>
                <input type="text" class="form-control" id="idade"
                    [(ngModel)]="pessoa.idade"
                />
            </div>

            <label><b>Endereço</b></label>

            <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" id="bairro"
                    [(ngModel)]="pessoa.endereco.bairro"
                />
            </div>
            
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep"
                    [(ngModel)]="pessoa.endereco.cep"
                />
            </div>
            <p>
                <b>{{ pessoa.nome }}</b> tem 
                <b>{{ pessoa.idade }}</b> anos de idade
                trabalha no bairro <b>{{ pessoa.endereco.bairro }}</b>, 
                cep <b>{{ pessoa.endereco.cep }}</b>.
            </p>
        </div>
    </article>
    
</section>
